<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397916699825-nvs0fmbgelrsfc4kdho5c0bouedm9bcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397916699825-nvs0fmbgelrsfc4kdho5c0bouedm9bcg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397916699825-399ikhalqii7nbk5od4r3cd5bernf2mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdU8jhVb-Qv6o9dnmeHNEBM-3fdyvo2sI</string>
	<key>GCM_SENDER_ID</key>
	<string>397916699825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assetZivaVendor</string>
	<key>PROJECT_ID</key>
	<string>asset-ziva</string>
	<key>STORAGE_BUCKET</key>
	<string>asset-ziva.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397916699825:ios:d0d372caf2a1ba7e0b7690</string>
</dict>
</plist>